footer {
  background-color: rgb(215, 182, 138);
}

footer ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-items: center;
  list-style: none;
  color: #5c3d2e;
  font-weight: bold;
  font-size: 0.4rem;
  padding: 0px;
  margin: 0;
}

h3 {
  margin: 16px;
  font-size: 16px;
}

p {
  font-size: 12px;
  margin: 0.5rem;
}

li {
  text-align: center;
  line-height: 0.8;
  width: 100%;

  .logos {
    margin: 8px;
  }

  img {
    transition: transform 0.2s;
    height: 25px;
    width: 70px;
    filter: drop-shadow(5px 5px 7px rgba(17, 17, 17, 0.8));
  }

  img:hover {
    transform: translateY(-5px);
  }

  a {
    margin: 16px;
    padding: 8px;
    color: #5c3d2e;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  li {
    width: 100%;
    text-align: center;
  }
  .mentions-légales {
    display: none;
  }
}
